/* .flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 400px;
    height: 100px;
    background-color: lightgrey;
}

.flex-item {
    background-color: cornflowerblue;
    width: 100px;
    margin: 10px;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
} */
/* Colores */
:root {
    --primary-color: #6FB98F;
    --secondary-color: #2C7873;
    --tertiary-color: #004445;
    --quaternary-color: #021C1E;
  }
  
  /* Estilos generales */
  body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
  }
  
  /* Menú */
  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: var(--tertiary-color);
    overflow: hidden;
  }
  
  .menu li {
    float: left;
  }
  
  .menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .menu li a:hover {
    background-color: var(--secondary-color);
  }
  
  .menu .active {
    background-color: var(--secondary-color);
  }
  
  .menu li:last-child {
    float: right;
  }
  
  /* Tarjetas de productos */
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .flex-item {
    margin: 10px;
    padding: 10px;
    background-color: #31a199;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    width: 300px;
  }
  
  .card-title {
    text-align: center;
  }
  
  .card-title p {
    font-size: 12px;
    color: var(--tertiary-color);
    margin: 0;
  }
  
  .card-title h4 {
    font-size: 20px;
    margin: 10px 0;
  }
  
  .card-image {
    text-align: center;
  }
  
  .card-image img {
    max-width: 100%;
  }
  
  .card-content {
    text-align: center;
    margin: 10px 0;
  }
  
  .card-action {
    text-align: center;
  }
  
  .card-action p {
    background-color: var(--tertiary-color);
    color: white;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .card-action p:hover {
    background-color: var(--secondary-color);
  }
  input[type="text"]{
    padding: 10px;
    margin-top: 10px;
    width: 95%;
    border-radius: 5px;
    border: none;
    background-color: #2c7873;
    color: #fff;
}
input[type="submit"] {
    background-color: #004445;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}
  /* Responsividad */
  @media screen and (max-width: 600px) {
    .flex-item {
      width: 100%;
    }
  }
  